body {
    background: lightblue url("https://github.com/bricezakra/GifTastic/blob/master/assets/images/backgroundImage.jpeg?raw=true");
    background-size: cover;
}

#players-form {
    float: left;
}

.playerBtn {
    margin: 5px;
}

.container {
    float: right;
    position: relative;
    width: 30%;
}

.player {
    float: left;
}

img {
    margin: 10px;
    height: 200px;
    width: 300px;
    margin-top: 0px;
}

.title {
    background: url("https://github.com/bricezakra/GifTastic/blob/master/assets/images/backgroundImage.jpeg?raw=true");
}

#add-player {
    margin-top: 5px;
    background-color: teal;
    color: white;
}